<html>
    <head>
        <title>Connect Facebook</title>
    </head>
    <body>
        <h3>Connectar a Facebook</h3>

        <form action="/connect/facebook" method="POST">
            <input type="hidden" name="scope" value="user_posts" />
            <div class="formInfo">
                <p>Aun no estás conectado a Facebook, presiona el botón para conectar con tu cuenta.</p>
            </div>
            <p><button type="submit">Conectar a Facebook</button></p>
        </form>
    </body>
</html>