<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario Thymeleaf</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style type="text/css">
            .fieldError { 
                background-color: #FFC;
                color: #ae1d1d; 
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <h2>Resgistro de Usuario:</h2>

        <form action="#" th:action="@{/user}" th:object="${usuario}" method="post">

            <div th:if="${#fields.hasAnyErrors()}">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
            </div>

            <label th:text="#{user.name}">Nombre:</label>
            <input type="text" th:field="*{nombre}" th:errorclass="fieldError"/>
            <spam th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre incorrecto</spam>

            <div>
                <button type="submit">Crear Usuario...</button>    
            </div>
        </form>
    </body>
</html>
